{% extends 'base.html.twig' %}
{% block body %}
<table class="table table-sm">
    <thead>
    <tr>
        <th scope="col">Titre</th>
        <th scope="col"></th>
        <th scope="col">option</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row"></th>
        <td>Mark</td>
        <td>voir</td>
        <td>suppr</td>
    </tr>

    </tbody>
</table>
{% endblock %}